html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GLOBAL styles----------------------------------------- */


/* strip all spacing from elements */
*{
    padding: 0;
    margin: 0;

}

html{
    font-size: 62.5%;
}

ul li{
    list-style: none;
}

li a,
.footerCopyright a,
p{
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color:rgb(244,244,244);
    line-height: 2.9rem;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

figure{
    margin: 0;
}

h2{
    font-family: 'Pacifico', cursive;
    font-size: 4.2rem;
    font-weight: 400;
    color:rgb(31,32,34) ;
}

.info{
    color:rgb(31,32,34) ;
}

.readMore{
    padding: 5px 15px;
    background-color:rgb(31,32,34) ;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color:rgb(242,161,28);
    line-height: 2.9rem;
    text-decoration: none;
    text-transform: uppercase;
}

.readMore:hover,
.readMore:focus{
    background-color: rgb(74,74,74) ;
    color: rgb(244,244,244) ;
}

h3{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.9rem;
    color:rgb(242,161,28);
    padding-bottom: 15px;
}

header nav,
footer nav{
    width: 50%;
    margin: 0 auto;
}

header nav a,
footer nav a{
    float:left;
    text-align: center;
    padding: 10px 5%;
    width: calc(100% / 4);
}
a{
    border-bottom: 1px solid transparent; 
}

a:hover,
a:focus{
    border-bottom: 1px solid rgba(242,161,28,0.8); 
}


.wrapper{
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}

/* GOBAL style ends */




/* HEADER styles----------------------------------- */

header{
    background-image: url(./biker-land-assets/image-1.jpg);
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 20px 0;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 13rem;
    font-weight: 400;
    color:rgb(242,161,28);
    text-align: center;
    padding: 250px 0;
    margin: 0 auto;
}

.socialNav{
    position: absolute;
    top: 35vh; 
    /* placing the icons at around half height of the min-height of header */
    right:0;
    width:5%;
}

.socialNav i{
    font-size: 3rem;
    color: rgb(242,161,28);
    padding: 10px 0;
}

.socialNav a{
    float:none;
}


/* SLIDING Menu styles ------------------------------------*/
/* Credit: The code was written with reference to the code exercise completed during ConEd web dev  course*/
.slidingMenuToggle{
    visibility: hidden;
}
.slidingMenuToggle{
    padding-top:20px;
}
.slidingMenu {
    background: rgba(31,32,34,0.8);	
    min-height: 100vh;
    position: fixed;
    right: -30%;
    width: 30%;
    transition: 0.5s;
}

.slidingMenu a,
.slidingMenu i {
    color:rgba(242,161,28,0.8);
    display: inline-block;
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.slidingMenu a:hover,
.slidingMenu i:hover,
.slidingMenu a:focus,
.slidingMenu i:focus{
    border-bottom: 1px solid rgba(242,161,28,0.8);
} 

label {
    position: fixed;
    color:rgb(255,255,255);
    font-size: 2.5rem;
    top: 10px;
    right: 10px;
}


/* MAIN styles ------------------------------------------*/
/* CONTENT div style */

.content{
    background-color: rgb(244,244,244) ;
}

.aboutFig{
    float:right;
    background-image: url("./biker-land-assets/image-2.jpg");
}

.missionFig{
    float: left;;
    background-image: url("./biker-land-assets/image-7.jpg");
}

.aboutFig,
.missionFig{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:400px;
    width:50%;
}

.aboutInfo,
.missionInfo{
    float: left;
    padding: 30px;
    width: calc(50% - 100px);
    margin: 0 50px 0;
}

.aboutInfo h2,
.missionInfo h2{
    padding: 20px 0;
}

.aboutInfo p,
.missionInfo p{
    padding-bottom: 30px;
}

/* BLOG div styles----------------------------------- */
.blogPost{
    color:rgb(244,244,244);
    padding: 100px 0;
}

.blogFig{
    width: 25%;
    float: left;
}

.blogSection{
    float: right;
    padding-left: 30px;
    width: calc(75% - 30px);
}

.blogSection h2,
.blogSection p{
    padding-bottom: 20px;
}


/* MAIN NAV styles-------------------------------------- */
.mainNav{
    background-image: url(./biker-land-assets/image-5.jpg);
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    position: relative;
}

.mainNav ul{
    text-align: center;
    padding:150px 0;
    width: calc(100% / 3);
}


.mainNav li{
    display: inline-block;
    padding: 20px;
}

.mainNav i,
.mainNav a{
    display: block;
}

.mainNav i{
    color:rgb(255,255,255);
    font-size: 4rem;
    padding: 30px;
}

.mainNav a{
    color: rgb(242,161,28);
    font-size: 2.5rem;
    text-align: center;
}

/* GALLERY styles---------------------------- */

.gallery h2{
    text-align: center;
    margin: 50px 0;
}

.gallery li{
    float: left;
    margin: 0 30px 50px 0;
    width: calc((100% - 60px) / 3);
}

.gallery li:nth-child(3){
    margin-right :0;
}


/* FOOTER styles----------------------------- */
footer{
    background-color:rgb(31,32,34) ;
}

.contactInfo{
    min-height: 30vh;
    padding-bottom: 50px;
}

.contactInfo nav{
    padding: 20px 0;
    background-color: rgb(31,32,34);
}

.container{
    padding-top:20px;
}

.contact,
.subscribe{
    float: left;
    width:50%;
}

.subscribe p{
    padding-bottom: 10px;
}

/* FORM styles--------------------- */
#email{
    display:block;
    float: left;
    padding: 10px;
    width:70%;
}

::placeholder{
    font-size: 1.6rem;
}

button{
    background-color: rgb(242,161,28);
    border:none;
    text-transform: uppercase;
    vertical-align: bottom;
    padding: 13px 20px;
}

/* COPYRIGHT styles--------------------- */
.footerCopyright{
    background-color: #000;
    padding: 20px 0;
}

.footerCopyright p,
.footerCopyright a{
    color: rgb(74,74,74) ;
    text-align: center;
}



/* SMALL SCREEN Design styles---------------------------- */


/* 1175px Breakpoint for the MAIN background images */

@media (max-width:1175px){
    .aboutFig,
    .missionFig{
        height: 650px;
    }
}

/* MOBILE styles */

@media (max-width: 770px){

    /* SLIDING Menu Styes */
    header{
        background-image:url(./biker-land-assets/image-1-mobile@2x.jpg);
    }

    h1{
        font-size: 8rem;
    }

    .topNav,
    .socialNav{
        display:none;
    }

    .slidingMenuToggle{
        visibility: visible;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked + .slidingMenu {
        right: 0;
    }

    /* MAIN styles */
    .aboutFig,
    .missionFig,
    .blogFig{
        display: block;
        width:100%;
    }

    .aboutInfo, 
    .missionInfo,
    .blogSection{
        text-align: center;
        padding: 50px 15px;
        margin: 0;
        width: 100%;
    }
    
    .blogPost{
        padding: 30px;
    }

    .gallery li{
        width: calc((100% - 30px) / 2);
    }

    .gallery li:nth-child(2){
        margin-right:0;
    }

    .gallery li:nth-child(3){
        display: none;
    }

    /* FOOTER styles */
    footer nav{
        width: 100%;
    }

    .contact,
    .subscribe,
    #email,
    button{
        display: block;
        text-align: center;
        margin-bottom: 20px;
        width:100%;
    }

    #email,
    button{
        font-size: 2.3rem;
        padding: 20px 0;
    }
}